<body class="theme-blue">
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="card">
          <div class="header">
            <h3>
                <span class="clearfix title">
                    <span class="number" data-cy="error-title">Erreur 404</span>
                  <br>
                    <span data-cy="error-sb-title">Oups! Le lien semble incorrect</span>
                </span>
            </h3>
          </div>
          <div class="body">
            <p>
              <a href="index.html" class="btn btn-primary">
                <span data-cy="error-return-btn">Retour</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

