<body class="theme-blue">
<div id="wrapper">
  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="card">
          <div class="header">
            <h3>
                <span class="clearfix title">
                    <span class="number">
                      Erreur 404
                    </span>
                  <br>
                    <span>
                      Veuillez essayer après un certain temps
                    </span>
                </span>
            </h3>
          </div>
          <div class="body">
            <p>Ce site se lève dans quelques minutes.</p>
            <p>
              <a href="index.html" class="btn btn-primary">
                <span>Retour</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

